<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
- List popular languages for Data Science
- List common libraries used for Data Science
- List development environment open source tools used in Data Science
- Create a Jupyter Notebook with markdown and code cells
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. C/C++

Some of the commonly used libraries used by Data Scientists include:

- NumPy
- Matplotlib
- Seaborn
- Pandas


<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
    
   <tr>
    <td>Jupyter Lab</td>
  </tr>
    
   <tr>
    <td>R studio</td>
  </tr>
</table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

<H2>Author</H2>
Aesterin